[Unit]
Description=kube-controller-manager
After=network.target
[Service]
EnvironmentFile=-/usr/local/kubernetes/conf/kubernetes
ExecStart=/usr/local/kubernetes/bin/kube-controller-manager \
            $KUBE_MASTER \
            $KUBE_LOG_LEVEL \
            $KUBE_LOGTOSTDERR \
            $KUBE_LOG_DIR \
            --cluster-name=kubernetes --cluster-signing-cert-file=/usr/local/ssl/k8s/ca.pem --cluster-signing-key-file=/usr/local/ssl/k8s/ca-key.pem  --root-ca-file=/usr/local/ssl/k8s/ca.pem --service-account-private-key-file=/usr/local/ssl/k8s/ca-key.pem
            --service_account_private_key_file=/var/run/kubernetes/apiserver.key
[Install]
WantedBy=multi-user.target
